name: build-wasm

on:
  push:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/build-wasm.yml'
      - 'CHelper-Core/**'
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/build-wasm.yml'
      - 'CHelper-Core/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Install emsdk and build wasm
        run: cd ./CHelper-Core/script && sudo bash ./build-wasm.bash
