name: build-wasm

on:
  push:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/build-wasm.yml'
      - 'CHelper-Core/**'
      - 'script/**'
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/build-wasm.yml'
      - 'CHelper-Core/**'
      - 'script/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Install dependencies
        run: sudo apt-get install -y cmake ninja-build

      - name: Build Web Core
        run: python ./script/build_web_core.py
